.hero {
    background-image: url(webphotoheadpic.jpg);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 15px;
 
}

.hero h1 {margin-top: 100px;
    font-style: italic;
    font-size: 70px;
    color: rgb(255, 0, 0);
    justify-self: center;
    align-self: center;
    margin-top: 50px;
}


body { background-color:  #0d0d0d;}

.hero nav a {
    text-decoration: none;
    color: white;
}
.hero nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    }

.hero nav a:hover {color:#f0a500 ;
    animation:ease-out;
     transition: 0.3s;
}

.hero p {
    color: #d5ddff;
    font-size: large;
    justify-self: center;
    align-self: center;
    font-style: italic;
}

.picsdiv h1 {
    color: white;
    justify-self: center;
    align-self: center;

}

.gallery {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px;
  padding: 20px;
  justify-self: center;
  align-self: center;
}
 .gallery img {
     width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
 }

 .gallery img:hover{
    transition: 0.5s;
    animation: ease;
    transform: scale(1.07);
 }

 .abouth1 {
    color: white;
    justify-self: center;
    align-self: center;
 }

 .about p {
    font-style: normal;
    color: white;
    text-align: center;

 }

.gallery2 {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  margin-top: 300px;
}

.gallery2 img {
     width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.gallery2 img:hover {
     transition: 0.5s;
    animation: ease;
    transform: scale(1.07);
}

.pics2div {
    color: white;
    font-style: italic;
    font-size: xx-large;
    justify-self: center;
    align-self: center;
}